<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Title of the document</title>
      <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/landing.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar" id="nav">
          <div class="container container__nav">
            <div class="navbar__brand">
              <h2>Company Logo</h2>
              <span class="navbar__burger"></span>
            </div>
            <div class="navbar__links" id="myTopnav">
              <a> About </a>
              <a> Services </a>
              <a> Solutions </a>
              <a> Blog </a>
              <a class="get_in_touch"> <span class="material-icons message_icon">
chat_bubble_outline
</span>Get In Touch </a>
<a href="javascript:void(0);" class="icon" (click)="toggle()">
    <i class="fa fa-bars"></i>
  </a>
            </div>
          </div>
        </nav>
      </header>
      <div class="hero-image">
        <div class="hero-text">
          <h1 style="font-size:30px">
            Integer Bibendum sit amet arcue vel egestas
          </h1>
          <div class="flex-container row">
            <div class="flex-item">
              <span class="material-icons dummy_img_one">
wc
</span>
              <h2>Service Name 1</h2>
            </div>
            <div class="flex-item">
             <span class="material-icons dummy_img_two">
people_alt
</span>
              <h2>Service Name 1</h2>
            </div>
            <div class="flex-item">
              <span class="material-icons dummy_img_three">
brightness_high
</span>
              <h2>Service Name 1</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="sec_content">
          <div class="text_content">
            <h2>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </h2>
            <p>
              when an unknown printer took a galley of type and scrambled it to
              make a type specimen book. It has survived not only five
              centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with desktop publishing software like
              Aldus PageMaker including versions of Lorem Ipsum
            </p>
          </div>
          <div class="image_content">
            <img src="https://i.picsum.photos/id/1/5616/3744.jpg" />
          </div>
        </div>
      </div>
      <div class="testimonial_section">
        <h1>Testimonial</h1>
        <div class="containers">
          <div class="testimonial_contents">
            <div
              class="slider-contents"
              style="width: 100%; display: inline-block;"
            >
              <div class="slider-comment">
                <div class="triangle"></div>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui,
                  doloribus? Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
              </div>
              <div class="slider-commentor">
                <img
                  alt=""
                  src="http://mlslions.org/wp-content/uploads/2015/08/students6.jpg"
                />
                <div class="commentor-details">
                  <a href="#" tabindex="0">
                    <p>CLIENT NAME</p>
                    <p>Position , ORG</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial_contents">
            <div
              class="slider-contents"
              style="width: 100%; display: inline-block;"
            >
              <div class="slider-comment">
                <div class="triangle"></div>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui,
                  doloribus? Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
              </div>
              <div class="slider-commentor">
                <img
                  alt=""
                  src="http://mlslions.org/wp-content/uploads/2015/08/students6.jpg"
                />
                <div class="commentor-details">
                   <a href="#" tabindex="0">
                    <p>CLIENT NAME</p>
                    <p>Position , ORG</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial_contents">
            <div
              class="slider-contents"
              style="width: 100%; display: inline-block;"
            >
              <div class="slider-comment">
                <div class="triangle"></div>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui,
                  doloribus? Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.
                </p>
              </div>
              <div class="slider-commentor">
                <img
                  alt=""
                  src="http://mlslions.org/wp-content/uploads/2015/08/students6.jpg"
                />
                <div class="commentor-details">
                   <a href="#" tabindex="0">
                    <p>CLIENT NAME</p>
                    <p>Position , ORG</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="form_container">
        <h1 >Convinienced To Work With Us</h1>
        <h2 >
          Company has helped agencies keep their promises to clients since 2005.
        </h2>
        <div  class="container">
          <div class="input_container">
            <div class="input_section">
              <div class="input_group">
                <input class="form-control" placeholder="Full Name" type="text" />
              </div>
              <div class="input_group">
                <input  class="form-control" placeholder="Email Address" type="text" />
              </div>
              <div  class="input_group">
                <input  class="form-control" placeholder="Phone Number" type="text" />
              </div>
            </div>
            <div  class="text_area_sec">
              <textarea
                placeholder="Message in brief"
                class="form-control"
                cols="10"
                rows="4"
              ></textarea>
            </div>
            <div  class="btn_section">
              <button class="btn btn_orange" type="button">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer_container">
        <div class="container">
          <div  class="display_inline">
            <div  class="copyright_container">
              <span >
                © 2017 Company,All Rights Reserved.</span
              >
            </div>
            <div  class="policy_container">
              <ul >
                <li >follow us on</li>
                <li ><img src="assets/img/fb.png" /></li>
                <li ><img src="assets/img/linkedin.png" /></li>
                <li ><img src="assets/img/twitter.png" /></li>
                <li ><img src="assets/img/msg.png" /></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

